 .impressum-box {
     display: table;
     max-width: 920px;
    height: 100vh;
     &-title {
         margin: 40px 0;
         @extend .text-uppercase;         
         letter-spacing: .15em;
         color: #333;
         @media (max-width: $screen-xs-max) {
                font-size: 1.5em;
                 margin: 20px 0 10px;
         }
         
     }
     &-subtitle {
         margin-bottom: 20px;
         @extend .fw-400;
         font-size: 1.143em;
     }
     &-dt {
         display: table-cell;
         vertical-align: middle;
            padding: 0 15px;
         @media (max-width: $screen-xs-max) {
//             padding: 0 3em;
             display: table;
         }
//         @media (min-width: $screen-sm-max) {
//             padding: 10em 1em 0;
//         }
     }
     .impress-cprt{
          @media (max-width: $screen-xs-max) {
         margin-bottom: 20px;
         }
     }
 }
.impressum-list {
    margin-bottom: 40px;
}

.menu-impress-link {
    position: absolute;
    bottom: 27px;
    right: 30px;
}
 
 .adress-list,
 .phone-list {
     @extend .list-unstyled;
 }